{% extends 'home.html.twig' %}

{% block title %}Note {% endblock %}

{% block body %}
    <h1>Note </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>Module</th>
                <th>Note</th>
                <th>Observation</th>
                {% if is_granted("ROLE_ADMIN") %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.etudiant.nom }}</td> {# Accessing student's last name #}
                <td>{{ note.etudiant.prenom }}</td> {# Accessing student's first name #}
                <td>{{ note.module.nom }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.observation }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                <td>
                    <a href="{{ path('app_note_show', {'id': note.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_note_edit', {'id': note.id}) }}" class="btn btn-warning">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_note_new') }}" class="btn btn-success">Create new</a>
    {% endif %}
{% endblock %}
