{% extends 'home.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ enseignant.cin }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}

    <a href="{{ path('app_enseignant_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}" class="btn btn-warning">edit</a>

    {{ include('enseignant/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
